{% extends "base.html" %}
{% load static %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<div class="container py-5">
<article class="col-12 col-md-9">
  <div class="text-center">
  <h2>
    Красив ли узор на дубах?
  </h2>
  <h4>
    <i>
      <sup>Николай Некрасов</sup>
    </i>
  </h4>
</div>
  <div class="text-justify">
    <p>
      <b>
        Если Вы тут, то значит присутсвует какая-то цель?
        Но неволнуйтесь, надолго я Вас не задержу.
      </b>
    </p>
    <p>
      Меня зовут Владислав, родился я и прожил 21 год
      на далёкой и снежной Камчатке в
        <a href="https://ru.wikipedia.org/wiki/Вилючинск"
          target="_blank" rel="noopener noreferrer"
        >ЗАТО Вилючинск</a>
      , город подводников и прекрасных людей(как Ваш покорный слуга:)).
      Там вся моя жизнь состояла из поиска себя. Первое ненужное образование,
      долгие неудачные отношения и естественно отсутвие перспективы и работы.
      В какой-то момент я понял, что если твоя жизнь тебе не нравится, то
      можно просто начать новую и... я ошибался, но не во всём.
    </p>
    <p>
      Бросив всё и переехав в Тулу, мои поиски не прекратились,
      как и прошлые проблемы. Получая новое образования, в полносью незнакомой
      среде, удовлетворение так и не приходило. В какой-то момент у меня появилась
      возможность получить знания и возможную работу в области программирования
      микроконтроллеров. Хорошего конца в этой истории не было, но я получил огромный
      опыт и наконец-то понял, что дейсвительно меня интересует.
      (ремарка: ещё на Камчатке я очень глубоко увлекался вычислительной техникой) 
    <p>
      Цель, стать программистом, координально повлияла на мою жизнь.
      Вдохнула смысл и дала стимул на изменение в даже не связанных
      с ней делах.
    <p>
      Пока я нахожусь на пути, но даже сейчас с уверенностью могу сказать,
      всем, что сделал, я полносью доволен.
    </p>
    <p>
      Ссылки:
      <a href="https://github.com/VladislavYar"
        target="_blank" rel="noopener noreferrer"
      >github.com/VladislavYar</a>
      ,
      <a href="https://vk.com/id364894430"
        target="_blank" rel="noopener noreferrer"
      >vk.com/id364894430</a>
    </p>
    <p>
      Мой рабочий стол:
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0"
        target="_blank" rel="noopener noreferrer"
      ><img src="{% static 'img/desktop.png' %}"></a>
    </p>
    <p>
      <b>
        Спасибо за внимание тебе, путник!
      </b>
    </p>
    <p>
      <sup>
        Отдельно хочу поблагодарить свою лучшую подругу
        и вторую половинку за то, что всегда готовы
        поддержать и выделить для меня время.
      </sup>
    </p>
</article>
</div>
{% endblock %} 