{% extends "base.html" %}
{% load static %}

{% block title %}Технологии{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="col-12 col-md-9 text-center">
    <h2>
      <strike>Вот что я умею</strike>...
    </h2>
    <h2>
      Настоящий Мастер никогда не показывает кончика своего меча.
    </h2>
  </div>
  <aside class="col-12 col-md-9">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python: боевые исскуства, изученные на Тибетском нагорье.
      </li>
      <li class="list-group-item">
        Django: и немного везения (｡•̀ᴗ-)✧
      </li>
      <li class="list-group-item">
        <a href="http://www.youtube.com/watch?v=Xc3y4NUJgLE"
          target="_blank" rel="noopener noreferrer"
          ><img src="{% static 'img/book.png' %}"></a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
      <p>"Навык — способность деятельности,
        сформированная путём повторения и доведённая до автоматизма.
      </p>
      <p>
        Всякий новый способ действия, протекая первоначально как
        некоторое самостоятельное, развёрнутое и сознательное,
        затем в результате многократных повторений может осуществляться
        уже в качестве автоматически выполняемого компонента деятельности.
        Существенная часть навыка представляет собой процедуру,
        требующую для своего выполнения минимальных усилий сознания
        и находящуюся в процедурной памяти.
      </p>
      <p>       
        В философии понятие навыка (habitus) разрабатывал Фома Аквинский.
        Он относил его к категории качества (qualitas), хотя в отношении
        действия навык предстает как возможность (potentia).
        Посредством навыка определялось здоровье (sanitas), наука (scientia)
        и добродетель (virtus).
      </p>
      <p>
        В отличие от привычки, навык, как правило, не связан с устойчивой
        тенденцией к актуализации в определённых условиях.
      </p>
      <p>
        Понятие навыка входит в триаду ЗУН (знание — умение — навык)
        — одну из концепций, разработанную в рамках советской педагогики.
      </p>
      <p>
        Отдельные этапы образования двигательного навыка подробно прослежены
        в работах советского психолога Н. А. Бернштейна."
        <a href="http://ru.wikipedia.org/wiki/Навык"
          target="_blank" rel="noopener noreferrer"
        >Википедия</a>
      </p>
    <div class="text-center">
      <h5>От автора:</h5>
      <p>
        Ученик - это тот, кто получает новык и привычку
        в области изучения. По существу ученик - свежая
        глина в руках мастера(учителя). Все его "навыки"
        являются опытом и руководством наставника, а труды
        обучающегося - прыжок в неизвестность ради знаний.
      </p>
    </div>
</article>
</div>
{% endblock %} 